:root {
    --darkGreen: rgb(8, 28, 21);
    --brunswick: rgb(27, 67, 50);
    --seaGreen: rgb(64, 145, 108);
    --celadon: rgb(183, 228, 199);
    --nyanza: rgb(216, 243, 220);
}
body{
    margin: 0%;
    background-color: #CEE5D0;
}
/*gives the navigationbar the right shape and colours*/
.NavBar{
    text-align: center;
    padding: 0.25%;
    font-size: 150%;
    background-image: url("Foto's/NavbarBackground.jpg");
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: black 0.5px solid;
}

/*gives the items in the navigationbar the right shape and colours*/
.MenuItem{
    margin: auto;
    padding: 1.5% 10% 1.5% 10%;
    border: none;
    cursor: pointer;
    transition-duration: 100ms;
    color: white;
}

.MenuItem:hover{
    border: solid;
    border-left-color: #94B49F;
    border-right-color: #94B49F;
    transition-duration: 100ms;
}

#BMIDiv{
    background-color: #fdd3b9;
    margin: 5%;
    padding: 1%;
    border-radius: 20px;
    border-style: solid;
    border-width: 0.5px;
    height: 300px;
}

#CalorieCounter{
    background-color: #fdd3b9;
    margin: 5%;
    padding: 1%;
    border-radius: 20px;
    border-style: solid;
    border-width: 0.5px;
}

#Calculations{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#MinutesMenu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

#CalorieGain{
    background-color: #fdd3b9;
    margin: 5%;
    padding: 1%;
    border-radius: 20px;
    border-style: solid;
    border-width: 0.5px;
}
